
.header{
    width:100%;
    height: 200px;
    position: relative;
}
.header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header_content{
    position: absolute;
    top:0;
    z-index: 2;
    color: white;
    display:grid;
    height:100%;
    width: 100%;
    grid-template-rows: 2fr 1fr;
}
.header_content > div:first-child{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 5vw;
}
.header_content div:nth-child(2){
    text-align:center;
}
.header_content div:nth-child(2) p{
    padding:0 100px;
}


