* {
    font-size: calc(11px + .8vw);
    
}
*::-webkit-scrollbar{
    
    width:0px;
}


/* .main{
    margin-top: calc(40px + 1vh);
} */
body{
    overflow-x: hidden;
   
}
.alertBox {
    position: fixed;
    margin-top: 12px;
    /* transform: translateY( calc(-35px - 1vh)); */
    z-index: 10;
}

.alertBox div {
    margin: auto;
    text-align: center;
    padding: 4px;
}

@media (min-width:768px) {
    * {
        font-size: calc(9px + .5vw);
    }
}

.btn_trans {
    background-color: #41a80a;
    cursor: pointer;
    border: none;
    font-weight: 700;
    font-size: 1.3em;
    color: white;
    width:auto;
}

.btn_trans:focus,
.btn_trans:active {
    border: none;
    outline: none;
}

.btn_trans:active {
    color: #41a80a;
}